.task {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.task:disabled {
  background: none;
  color: #000;
}

.complete {
  text-decoration: line-through;
}
