.task {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.task:disabled {
  background: none;
  color: #000;
}

.button {
  appearance: none;
  background: none;
  border: 1px solid;
  /* outline: none; */
  -webkit-appearance: none;
  -moz-appearance: none;
}
